# Database
DATABASE_URL="postgresql://user:password@localhost:5432/explomate"

# NextAuth
NEXTAUTH_SECRET="your-secret-here"
NEXTAUTH_URL="http://localhost:3001"

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Cloudinary
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

# Supabase (Realtime)
NEXT_PUBLIC_SUPABASE_URL=""
NEXT_PUBLIC_SUPABASE_ANON_KEY=""

# Crypto / Blockchain
NEXT_PUBLIC_ESCROW_ADDRESS=""
NEXT_PUBLIC_SUPPORTED_CHAINS="polygon,base"

# Resend (Email)
RESEND_API_KEY=""

# Web Push
VAPID_PUBLIC_KEY=""
VAPID_PRIVATE_KEY=""

# Midtrans Payment Gateway
MIDTRANS_SERVER_KEY=""
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=""
MIDTRANS_IS_PRODUCTION="false"



